{
  "env": {
    "browser": true,
    "node": true
  },
  "rules": {
    "no-loop-func": 0,
    "no-redeclare": 0,
    "no-use-before-define": 0,
    "quotes": [1, "single", "avoid-escape"]
  },
  "globals": {
    "$": 1
  }
}
