<div class="param col-xs-6">
  <div class="form-group">
    <label for="{{param}}">{{param}}</label>
    <textarea id="{{param}}" name="{{param}}" class="form-control" placeholder="{{param}}" rel="{{param}}"></textarea>
  </div>
</div>'
